# --- 공통 ---
.DS_Store
node_modules/
build/
dist/
.env
*.log

# --- IntelliJ ---
.idea/
*.iml
out/

# --- Java / Gradle ---
*.class
.gradle/
**/build/
!gradle/wrapper/gradle-wrapper.jar

# --- React ---
frontend/node_modules/
frontend/build/

# --- Mac/Linux ---
*.swp

# --- Spring 프로젝트 ---
/backend/src/main/resources/application.properties